<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Distance</th>
      <th>Duration</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each rides as |ride|}}

      <!-- {{> partial}}
      Don't uncomment yet -->

     <!-- Developers, why are we using data-id and not just id? -->
      <tr data-id="{{ride.id}}">
        <td class = "ride-date">{{ride.date}}</td>
        <td class = "ride-distance">{{ride.distance}}</td>
        <td class = "ride-duration">{{ride.duration}}</td>
        <td>
          <button data-id="{{ride.id}}" class="deleteRideButton btn btn-danger">Delete Ride</button>
          <button data-id="{{ride.id}}" class="editRideButton btn btn-info">Edit Ride</button>
        <td>
      </tr>
    {{/each}}
</tbody>
<table>
